.suggestion {
  color: #cccccc;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  max-height: 300px;
  background: rgb(37, 37, 38);
  border-radius: 3px;
  overflow-y: scroll;
  overscroll-behavior: contain;
  visibility: hidden;
}

.suggestion > .list > div {
  font-size: 13px;
  height: 22px;
  padding: 13px 0px 13px 13px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestion .preview {
  font-size: 15px;
  width: 55px;
  text-align: center;
  fill: #cccccc;
}

.suggestion > .list > .focus {
  background-color: rgba(2, 111, 207, 0.662) !important;
}

.suggestion > .list > div:hover {
  background-color: rgba(174, 174, 174, 0.12);
}

.suggestion input {
  color: #cccccc;
  margin: 4px auto;
  width: 98%;
  display: block;
  background: rgb(67, 67, 67);
  border: 1px rgba(2, 111, 207, 0.662) solid;
}

input[type="text"]:focus {
  outline: none;
}

.refview {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.48);
  position: fixed;
  z-index: 3;
  align-items: center;
  justify-content: center;
  display: none;
}

.refview > .list {
  width: 80%;
  height: 80%;
  background: rgb(242, 242, 241);
  z-index: 4;
  border-radius: 4px;
  overflow: scroll;
}
.refview > .list > div.sub {
  padding-left: 60px;
}

.refview > .list > div {
  border-bottom: 1px black dotted;
  font-size: 17px;
  padding: 10px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.refview .lb {
  font-weight: bold;
  color: rgb(66, 66, 66);
}

.refview .sub {
  cursor: text !important;
}
